@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    background-image: url("aED1AMU-theater-backgrounds.jpg");
    text-align: center;
    flex-flow: row wrap;
    color: white;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 50%;                       /******** <- Remove this line *********/
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
.card {
    padding: 3vw;
    background: rgba(222, 222, 222, 0.30);
    border-radius: 5px;
    margin: 1vw;
    object-fit: contain;
}

.labelID {
    font-size: 4vh;
    color: white;
}

img {
    box-shadow: 0.5vw 0.5vw 0.5vw;
}

input {
    text-align: center;
}

.addRatingLabel {
    font-size: 3vh;
}

.addRating {
    width: 30vw;
    height: 2em;
    border-radius: 4px;
}

.navbar {
    background: rgba(255, 255, 255, 0.24);
    width: 100vw;
    border-bottom: solid 5px black;
}

.navContainer {
    justify-content: center !important;
    align-items: center;
}

.navbar-form {
    margin-top: 1.5rem;
}

a {
    color: #bd2130;
}

.navbar-brand img {
    width: 40vw;
    max-width: 300px;
    box-shadow: 1vw 1vw 0.5vw;
    background: #ffffffe3;
    border-radius: 4px;
}


.movies, .newMovies {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-flow: row wrap;
    justify-content: center;
}

.addMovie {
    height: 2em;
    border-radius: 4px;
    background-color: gray;
    line-height: 0.5;
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    img {
        width: 17vw;
    }

    .movies {
        width: 90vw;
    }

    .card {
        padding: 1vw;
    }
}

/*ExtraLarge devices (desktops, 992px and up)*/
@media (min-width: 1200px) {
    .card {
        padding: 0.5vw;
    }


}