@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body {
    display: flex;
    flex-direction: row;
    margin: 3vw;
    padding-top: 15vh;
    font-family: 'Dosis', sans-serif;
    background-image: url("aED1AMU-theater-backgrounds.jpg");
}

img {
    width: 17vw;
    box-shadow: 0.5vw 0.5vw 0.5vw black;
}

.logo {
    width: 9vw;
    box-shadow: none;
}

.movies {
    display: flex;
    flex-direction: row;
    color: white;
    width: 2vw;
}

button, select {
    color: black;
}
